@font-face {
  font-family: "eunhasu";
  src: url("../assets/fonts/HakgyoansimEunhasuR.ttf");
}
@font-face {
  font-family: "monggeul";
  src: url("../assets/fonts/HakgyoansimMonggeulmonggeulR.ttf");
}
@font-face {
  font-family: "undongjang";
  src: url("../assets/fonts/HakgyoansimUndongjangL.ttf");
}

.v-btn,
span,
.v-btn__content,
.text-h2,
.text-body-2,
div,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
.v-field,
.v-list-item {
  font-family: "eunhasu";
  // font-family: "IBM Plex Sans KR", sans-serif;
}
