@font-face {
  font-family: "eunhasu";
  src: url("../assets/fonts/HakgyoansimEunhasuR.ttf");
}
@font-face {
  font-family: "monggeul";
  src: url("../assets/fonts/HakgyoansimMonggeulmonggeulR.ttf");
}
@font-face {
  font-family: "undongjang";
  src: url("../assets/fonts/HakgyoansimUndongjangL.ttf");
}

.v-btn,
span,
.v-btn__content,
.text-h2,
.text-body-2,
div,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
.v-field,
.v-list-item {
  font-family: "eunhasu";
  // font-family: "IBM Plex Sans KR", sans-serif;
}

.slide-fade-enter-active {
  transition: all 0.8s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

// for storyBook style
.shadow {
  border-radius: 12px;
}
.page-wrapper {
  border-radius: 12px;
}

// router-link remove underline
.router-link {
  text-decoration: none;
}
